.heading {
    text-align: center;
    color: rgb(211, 74, 19);
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
    color: #f44747;
}

p {
    color: rgb(237, 237, 115);
    font-size: 16px;
}

fieldset {
    background-color: rgb(184, 227, 227);
    border: 2px solid #77b6e0;
    border-radius: 8px;
    padding: 20px;
}

div {
    margin-bottom: 15px
}

input {
    padding: 8px;  
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

label {
    font-weight: bold;
}