@model WebApplication2.Models.ContactInfo

<h2>Add New Contact</h2>
<form asp-action="AddContact" method="post">
    <div class="mb-3">
        <label>Contact Id</label>
        <input asp-for="ContactId" class="form-control" />
    </div>

    <div class="mb-3">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="mb-3">
    <label>Company Name</label>
    <input asp-for="CompanyName" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email Id</label>
        <input asp-for="EmailId" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Mobile No</label>
        <input asp-for="MobileNo" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Designation</label>
        <input asp-for="Designation" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a asp-action="ShowContacts" class="btn btn-secondary">Cancel</a>
</form>
